@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 text-center">



        <br />
        <h1 class="text-success">Gracias!</h1>

        <i class="bi bi-check-circle bi  text-success" style="font-size: 8em;"></i>

        <h2 class="text-success"> Su pago fue realizado con exito</h2>

        <br />
        <a href="@Url.Action("Index", "Peliculas")" class="btn btn-primary">Volver a la tienda</a>



    </div>
</div>